# Build configuration
CONFIG_TX_BUILD=y

# Console & logging - Use UART to avoid conflict
CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG=n
CONFIG_USB_SERIAL_JTAG_ENABLED=n

# TinyUSB
CONFIG_TINYUSB_ENABLED=y
CONFIG_TINYUSB_DEVICE_ENABLED=y
CONFIG_TINYUSB_RHPORT_FS=y



# USB OTG
CONFIG_USB_OTG_SUPPORTED=y
CONFIG_USB_HOST_ENABLED=n
CONFIG_USB_DEVICE_ENABLED=y

# Stack size
CONFIG_ESP_MAIN_TASK_STACK_SIZE=131072
