# Console & logging
CONFIG_ESP_CONSOLE_UART_DEFAULT=y
CONFIG_LOG_DEFAULT_LEVEL_INFO=y

# WiFi & Networking
CONFIG_ESP_WIFI_ENABLED=y
CONFIG_LWIP_UDP=y
CONFIG_LWIP_ICMP=y
CONFIG_LWIP_DHCP_DOES_ARP_CHECK=y
CONFIG_ESP_WIFI_AMPDU_TX_ENABLED=y
CONFIG_ESP_WIFI_AMPDU_RX_ENABLED=y

# I2S
CONFIG_I2S_ENABLE_TX_CHANNEL=y

# I2C
CONFIG_I2C_ENABLE_MASTER=y

# SPIRAM (disabled for stability)
CONFIG_SPIRAM_USE_CAPS_ALLOC=n

# FreeRTOS
CONFIG_FREERTOS_HZ=1000
